// Colors map
$body-bg: #fcfcfc;
$color-black: #000;
$color-white: #fff;
$color-grey: #444;
$color-light-grey: #c3c8c8;
$color-blue: #73acd3;
$color-red: #f00;
$border-color: #c7c7c7;


// Width map
$header-height: 35px;
