$color-chanel-hover: #fff8ff;;

.header {
  background: $color-white;
  border-bottom: 1px solid $border-color;
  box-shadow: 0 1px 8px 0 #ebebeb;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;

  &__title {
    font-size: 22px;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__add {
    background: url('news/static/img/add.svg') no-repeat center;
    background-size: contain;
    cursor: pointer;
    height: 16px;
    margin-top: 8px;
    width: 16px;

    &:hover {
      background: url('news/static/img/add__active.svg') no-repeat center;
    }
  }

}

.header-chanels {
  display: flex;
  justify-content: space-between;

  &__item {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__button {
    -webkit-apperance: none;
    background: $color-white;
    border: 1px solid $border-color;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background: $color-light-blue;
      border-color: $color-grey;
      color: $color-white;
    }
  }

  &__button_active {
    background: $color-light-blue;
    border-color: $color-grey;
    color: $color-white;
  }
}

.chanels-control {
  background: $color-overlay;
  height: 100vh;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 36px;
  width: 100vw;
  z-index: 1;

  &__content {
    background: $color-white;
    height: 90vh;
    margin: 2vh auto auto;
    padding-top: 32px;
    width: 60vw;
  }

  &__search {
    border: 1px solid $border-color;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    font-size: 22px;
    margin: 0 auto 10px;
    padding: 10px;
    width: 80%;
  }

  &__remove {
    background: url('news/static/img/remove.svg') no-repeat center;
    background-size: contain;
    cursor: pointer;
    height: 16px;
    margin-top: 8px;
    width: 16px;

    &:hover {
      background: url('news/static/img/remove__active.svg') no-repeat center;
    }
  }

  &__add {
    background: url('news/static/img/add.svg') no-repeat center;
    background-size: contain;
    cursor: pointer;
    height: 16px;
    margin-top: 8px;
    width: 16px;

    &:hover {
      background: url('news/static/img/add__active.svg') no-repeat center;
    }
  }
}

.chanels-list {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: calc(90vh - 32px);
  justify-content: space-between;
  overflow-y: auto;
  padding: 16px;


  &__item {
    border-bottom: 1px solid $border-color;
    cursor: pointer;
    margin-bottom: 28px;
    max-height: 100px;
    padding: 11px 4px;
    width: 48%;

    &:hover {
      background: $color-chanel-hover;
    }
  }

  &__category {
    margin: 0;
  }
}
