.header {
  background: $color-white;
  border-bottom: 1px solid $border-color;
  box-shadow: 0 1px 8px 0 #ebebeb;
  left: 0;
  // min-height: $header-height;
  position: fixed;
  right: 0;
  top: 0;

  &__title {
    font-size: 22px;
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__add {
    background: url('/news/static/img/add.svg') no-repeat center;
    background-size: contain;
    cursor: pointer;
    height: 16px;
    margin-top: 8px;
    width: 16px;

    &:hover {
      background: url('/news/static/img/add__active.svg') no-repeat center;
    }
  }

}

.header-chanels {
  display: flex;
  justify-content: space-between;

  &__item {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__button {
    -webkit-apperance: none;
    background: $color-white;
    border: 1px solid $border-color;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background: $color-light-blue;
      border-color: $color-grey;
      color: $color-white;
    }
  }
}

.chanels-control {
  background: $color-overlay;
  height: 100vh;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 36px;
  width: 100vw;
  z-index: 1;

  &__remove {
    background: url('/news/static/img/remove.svg') no-repeat center;
    background-size: contain;
    cursor: pointer;
    height: 16px;
    margin-top: 8px;
    width: 16px;

    &:hover {
      background: url('/news/static/img/remove__active.svg') no-repeat center;
    }
  }

  &__add {
    background: url('/news/static/img/add.svg') no-repeat center;
    background-size: contain;
    cursor: pointer;
    height: 16px;
    margin-top: 8px;
    width: 16px;

    &:hover {
      background: url('/news/static/img/add__active.svg') no-repeat center;
    }
  }
}

.chanels-list {
  background: $color-white;
  height: 90vh;
  margin: 2vh auto auto;
  overflow-y: auto;
  padding: 16px;
  width: 60vw;
}
